.betsConatiner {
    width: 1;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .betsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #333;
        }

        .betsHeader-section-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;

            .itemSection {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.8rem;
                gap: 1rem;
            }

            .gridDate {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .input-select-w {
                    width: 24%;
                    margin: 0 4px;

                    label {
                        font-size: 12px;
                        text-transform: capitalize;
                        margin: 0 0 5px;
                    }

                    select {
                        border: 1px solid #d1d1d1 !important;
                        background: #f3f3f3 !important;
                        color: #666;
                        text-transform: capitalize;
                        font-size: 12px;
                        border-radius: 5px;
                        height: 35px;

                        option {
                            font-weight: normal;
                            display: block;
                            padding-block-start: 0px;
                            padding-block-end: 1px;
                            min-block-size: 1.2em;
                            padding-inline: 2px;
                            white-space: nowrap;
                        }
                    }

                    input {
                        padding: 0.7rem;
                        border: 1px solid #d1d1d1 !important;
                        background: #f3f3f3 !important;
                        color: #666;
                        text-transform: capitalize;
                        font-size: 12px;
                        border-radius: 5px;
                        height: 35px;
                    }
                }

                button {
                    background: var(--theme-color);
                    margin-top: 1.6rem;
                    padding: 0.5rem;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 0.8rem;
                    min-width: 100px;
                }
            }
        }

    }

    .betsBody {
        padding: 0.3rem;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 1041px) {
    .betsConatiner {
        height: 62vh;

        .betsHeader {
            flex-direction: column;
            align-items: start;

            .betsHeader-section-item {
                .itemSection {
                    width: 100%;
                    align-items: center;
                    justify-content: start;

                    span {
                        margin-top: 1rem;
                    }
                }

                .gridDate {
                    width: 100%;
                    flex-direction: column;
                    align-items: start;

                    .input-select-w {
                        select {
                            width: 90vw;
                        }

                        input {
                            width: 90vw;
                        }
                    }
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}