.table-container{
    width: 100%;
    
    .constiner-Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f1f1f1;
        .header1{
            width: 50%;
            padding: 0.5rem;
            clip-path: polygon(0px 0px, 100% 0%, 85% 100%, 0% 100%);
            background: var(--theme-color);
            label{
                font-size: 0.8rem;
            }
        }
        .header2{
            width: 50%;
            display: flex;
            justify-content: center;
            gap: 2rem;
            align-items: center;
            font-size: 0.8rem;
            label{
                &:nth-child(1){
                    color: rgb(3, 117, 204);
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-left: 50px;
                }
                &:nth-child(2){
                    color: rgb(224, 60, 60);
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
        
    }
    .table-body{
        .row-section{
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(199, 199, 199);
            .row-section-A{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                font-size: 0.85rem;
                font-weight: 600;
            }
            .row-section-B{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                .ball-running{
                    padding: 0.4rem;
                    border-radius: 5px;
                    min-width: 100px;
                    background: #fff;
                    text-align: center;
                    box-shadow: inset 0 0 0 1px #ff000057;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-size: 0.75rem !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1041px){
    .table-container{
        .constiner-Header{
            .header2{
                label{
                    &:nth-child(1){
                        margin-left: -80px;
                    }
                }
            }
        }
    }
}