._profile{
    animation: var(--slide-side);
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #fff;
    max-width: 250px;
    position: absolute;
    z-index: 2;
    right: 1rem;
    top:6.3rem;
    .arrowIcon{
        position: absolute;
        padding: 1rem;
        background-color: #fff;
        top: -0.8rem;
        right: 1.5rem;
        transform: rotate(45deg);
    }
    .profile-conatinerA{
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap:0.5rem;
        border-bottom: 1.5px solid var(--primary);
        .profileHeader{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.9rem;
            .profile-title{
                label{
                    font-size: 0.85rem;
                    font-weight: 400;
                }
                p{
                    font-size: 0.7rem;
                    color: #9e9d9d
                }
            }
            label{
                font-weight: 500;
            }
        } 
    } 
    .profile-conatinerB{
        padding: 0.5rem 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
        border-bottom: 1.5px solid var(--primary);
        button{
            width: 100%;
            padding: 0.3rem;
            border-radius: 20px;
            font-size: 0.86rem;
            color:#fff;
            &:nth-child(1){
                background: var(--theme-color);
            }
            &:nth-child(2){
                color: var(--secondary);
                border: 1px solid var(--primary);
                transition: all 0.5s ease-in-out;
                &:hover{
                    background-color: #f1eeee;
                }
            }
            
        }
    }
    .profile-conatinerC{
        ul{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        li{
            padding: 0.5rem 0.8rem;
            width: 100%;
            border-bottom: 1px solid #DDDDDD;
            font-size: 0.85rem;
            font-weight: 400;
            cursor: pointer;
            &:hover{
                background-color: #f1eeee;
                transition: all 0.5s ease-in-out;
            }
        }
    }
        
    }
    .logoutSection{
        cursor: pointer;
        width: 100%;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9rem;
        font-weight: 600;
        transition: all 0.7s ease-in-out;
        &:hover{
            color: var(--secondary);
        }
    }
}
@media only screen and (max-width: 1041px){
    ._profile{
        right: 0rem;
    }
}