.searchBackContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: #1111119b;
    justify-content: center;
    align-items: start;
    padding: 0rem;
    position: fixed;
    z-index: 9999;
    .searchContainer{
        padding: 0rem 1rem;
        top: 0;
        background: var(--theme-color);
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: var(--slide-down);
        span{
            font-weight: 600;
        }
        input{
            width: 80%;
            padding: 0.5rem;
            height: 60px;
            outline: none;
            background-color: transparent;
            text-align: center;
            &::placeholder{
                color:#e2e0e0;
            }
        }
    }
}