@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: var(--fontStyle);
  background-color: var(--background);
  user-select: none;
}

@layer base {
  :root {
    --theme-primary: #1E5058;
    --theme-secondary: #0F2326;
    --theme-opacity: #106257ab;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --primary: #ebda8d;
    --secondary: #b88831;
    --theme-color: transparent linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    --ring: var(--primary);
    --radius: 0.5rem;

    --card: #fbf6ce;
    --card-foreground: #11181e;
    --footer-color: #9ab3ff53;

    --navbar-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --slide-side: slidepopupModel 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    --slide-down: slide-down 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    --fade-in: fade-in 1s ease-in-out forwards;
    --zigzag: animatePopup 0.6s ease-in-out infinite alternate;
    --blink: blink 2.5s ease-in-out infinite;
  }
}

/* Animations */
@keyframes slide-down {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slidepopupModel {
  0% {
      opacity: 0;
      transform: translateX(50%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes animatePopup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes blink {
  0% {
     background-color: #28a745;;
  }
  50% {
    background-color: #202020;
  }
  100% {
    background-color: #28a745;
  }
}

